<launch>
  <arg name="left_device_name" default="/dev/ttyUSB0" />
  <arg name="right_device_name" default="/dev/ttyUSB1" />

  <rosparam command="load" file="$(find dynamixel_control)/config/quadruped_gait.yaml" />

  <node pkg="dynamixel_control" type="multi_dxl_node" name="multi_dxl_node_left" ns="left_board" output="screen">
    <remap from="set_position" to="/set_position" />
    <param name="device_name" value="$(arg left_device_name)" />
    <param name="baudrate" value="1000000" />
    <rosparam param="motor_ids">[11, 1, 2, 14, 7, 8]</rosparam>
    <rosparam param="multi_turn_ids">[1, 2, 7, 8]</rosparam>
  </node>

  <node pkg="dynamixel_control" type="multi_dxl_node" name="multi_dxl_node_right" ns="right_board" output="screen">
    <remap from="set_position" to="/set_position" />
    <param name="device_name" value="$(arg right_device_name)" />
    <param name="baudrate" value="1000000" />
    <rosparam param="motor_ids">[12, 3, 4, 13, 5, 6]</rosparam>
    <rosparam param="multi_turn_ids">[3, 4, 5, 6]</rosparam>
  </node>

  <node pkg="dynamixel_control" type="gait_controller.py" name="gait_controller" output="screen" />
</launch>
